.profil{
	background-color: #cdcdef; 
	border-radius: 5px;
}

.button-style{
	width: 170px;
	margin-top: 5px;
	height: 40px;
}

.lainnya{
	background-color:#f7f4f4; 
}

.lihat{
	background-color: #f3fdf1;
}