body{ 
	background: url('back.png');
	background-repeat: repeat-x;
	background-color: white;  
	background-size: 102% 620px; 
}
.navbar{
	margin-top:-100px;
	font-size: 20px;
	color: #fff;
	line-height: 20px;
	margin-bottom: -20px;
	background-color: transparent;
	border: none;
	height: 20px;
}

.nav ul{
	color: white;
}


.navbar-collapse{
	margin-bottom: 70px;
}

.btn-default{
	background-color: transparent;
	color:;
	margin-right: 20px;
	width: 120px;
	height: 50px;
}

.btn-success{
	width: 120px;
	height: 50px;
}

.btn-primary{
	text-align: center;
	width: 358px;
	height: 50px;
}


.row{
	font-size: 50px;
	font-family:  arial;
	margin-top: 150px;
	text-align: center;
	color: white;
}

.rowbek{
	font-size: 23px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 35px;
	color: white;
}

.hr{
	text-align: center;
	width: 500px;
	color: black;

}

img{

	width: 125px;
	height: auto;
}

.logo{
	width: 100px;
	height: auto;	
}



.modal-content{
	background:url('bglogin.jpg');
	background-size: 100% 100%; 
	box-shadow: 0 0 20px 2px rgba(0, 0, 0, 1000);
}

.modal-body{
 margin-left: 75px;
}

.modal-footer{
	text-align: center;
}

.media-object1{
	height: 200px;
	width: auto;
	margin-top:30px;
	margin-left: ;
}

.media-object2{
	height: 200px;
	width: auto;
	margin-top:30px;
	margin-right: ;
}

.media-heading{
	color:black;
	font-family: "Roboto";
}

.media-body{
	color: #999999;
	font-family: "Roboto";
	font-size: 18px;
}

/*text about*/
.brand-name{
	font-family: "Montserrat", "Helvetica Neue", Helvetica, arial, sans-serif ;
	text-transform: uppercase;
	font-weight: 700;
	color:black;
	font-size: 50px;
	text-align: center;
}

.tagline-divider{
	margin-top: -5px;
	width: 100px;
	height: 10px;
	text-align: center;
	line-height: 10px;
}

.h2{
	margin-top: -30px;
	text-align: center;
	color:#999999;
	font-size: 30px;
	font-family: "Montserrat";
}

/*powered by*/
.powered{
	background-color: #ECECEC;
	margin-top: -30px;
}

.powered-by{
	font-family: "Montserrat", "Helvetica Neue", Helvetica, arial, sans-serif ;
	text-transform: uppercase;
	font-weight: 700;
	color:black;
	font-size: 30px;
	text-align: center;
	margin-bottom: -60px;
}