body,
html{ 
	height: 100%;
	width: 100%;
}

.intro{
	margin-top: -100px;
	padding-top: 150px; 
    padding-bottom: 430px;
	text-align: center;
    color: white;
    background: url(../img/gambar1.jpg) no-repeat center center;
    background-size: cover;
}

.navbar{
	font-size: 20px;
	border: none;
	background: transparent;
}

.navbar .navbar-brand{
	color: #ffffff;
  	font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
  	font-size: 27px;
	margin-top:10px ;
}

.btnnav{
	width: 100px;
	height: 50px;
}


.hr{
	text-align: center;
	width: 500px;
	color: black;

}

.text-intro{
	font-family: 'Roboto Slab', serif;
	font-size: 45px;
}

.isi-intro{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 30px;
}

.modal-content{
	 background-color:#d5d6d5;
	 height: 280px;
}
 .tinggi{
 	height: 45px;
 	margin-top:-10px; 
 }

 .btnlogin{
 	width: auto;
 	height: 40px;
}

.kiri{
	height: 200px;
	width: auto;
	margin-top:30px;
}

.kanan{
	height: 200px;
	width: auto;
	margin-top:30px;
}

.media-heading{
	color:black;
	font-family: "Roboto";
}

.media-body{
	color: #999999;
	font-family: "Roboto";
	font-size: 18px;
}

/*text about*/
.about{
	font-family: "Montserrat", "Helvetica Neue", Helvetica, arial, sans-serif ;
	text-transform: uppercase;
	font-weight: 700;
	color:black;
	font-size: 50px;
	text-align: center;
	margin-top: 30px;
}

.h2{
	margin-top: -30px;
	text-align: center;
	color:#999999;
	font-size: 30px;
	font-family: "Montserrat";
}

/*powered by*/
.powered{
	background-color: #ECECEC; 
}

.powered-by{
	font-family: "Montserrat", "Helvetica Neue", Helvetica, arial, sans-serif ;
	text-transform: uppercase;
	font-weight: 700;
	color:black;
	font-size: 30px;
	text-align: center;
	margin-bottom: -60px;
}

footer {

  color:  white;
  background-color: #25373D;
}

footer .copyright {
  margin-top: 50px;
}

.tulis {
  font-size: 30px;
  color: #ffffff;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

.bawah{
  padding-top: 10px;
  background-color: #282830;
  text-align: center;
  width: 100%;
}

footer img .log {
  height: 100px;
  width: 100px;
}