/*pop up*/
.modal-content{
	 background-color:white;
	 height: 500px;
}

/*judul*/
.brand-name{
	margin-top: 200px;
	color: white;
	text-align: center;
}

.h3{
	color: white;
	text-align: center;
}


/*container*/
.container{
	margin-top: 400px;
}

.lainnya{
	background-color: #cccccc;  
	border-radius: 3px;
}
